{% extends 'webpage/base_webpage.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

{% if next %}
{% if user.is_authenticated %}
<p class="text-info">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p class="text-info">Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <table class="table table-responsive">
        {{ form.as_table }}
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'accounts:password_reset' %}">Lost password?</a></p>

{% comment %} <p>Or login with one of the services:</p>
<a href="{% url "social:begin" "google-oauth2" %}">Google</a> | 
<a href="{% url "social:begin" "github" %}">Github</a> {% endcomment %}

{% endblock %}