{% extends 'webpage/base_webpage.html' %}
{% block custom_media_per_page %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key={{ google_api }}" async defer></script>
{% endblock %}
{% load account %}
{% block title %}
{% user_display object %}
{% endblock %}
{% block content %}
<div class="row">
    {% if object == request.user %}
    {% include 'registration/profile_personal.html' %}
    {% else %}
    {% include 'registration/profile_overview.html' %}
    {% endif %}
</div>
{% endblock %}