{% extends 'base_generic.html' %}
{% block custom_media %}
{% load static %}
<link href="{% static 'webpage/styles.css' %}" rel="stylesheet">
{% block custom_media_per_page %}
{% endblock %}
{% endblock %}
{% block body %}
{% block header %}
{% include 'webpage/header.html' %}
{% endblock %}
{% block post_header %}
{% if messages %}
<div>
    {% for message in messages %}
    {% if forloop.last %}
    <div class="alert alert-info msg-django"> {{message}}</div>
    {% endif %}
    {% endfor %}
</div>
<script>
$(() => $(".msg-django").show().delay(5000).fadeOut());
</script>
{% endif %}
{% endblock %}
{% block container %}
<div class="container p-2">
{% block content %}
{% endblock %}
</div>
{% endblock %}
{% block footer %}
{% include 'webpage/footer.html' %}
{% endblock %}
{% endblock %}