{% extends 'webpage/base_webpage.html' %}
{% block title %}
Chat
{% endblock %}
{% block custom_media_per_page %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" defer></script>
<script type="module" src="{% static 'webpage/scripts/chat.js' %}"></script>
<script type="module" src="{% static 'webpage/scripts/ui.js' %}"></script>
<script type="module" src="{% static 'webpage/scripts/app.js' %}"></script>
{% endblock %}
{% block content %}

{{ userTo|json_script:'user-to'}}
{{ userFrom|json_script:'user-from'}}

<div class="chat-window">
    <ul class="chat-list list-group">
    </ul>
  </div>

  <form action="" class="new-chat my-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          Your message:
        </div>
      </div>
      <input type="text" class="form-control" name="message" id="message" required>
      <div class="input-group-append">
        <input type="submit" class="btn btn-primary" value="send">
      </div>
    </div>
  </form>
{% endblock %}