<h6>Residence location:</h6>
<p>
{% if wprofile.residence_location %}
{% include "webpage/google_map.html" with y=wprofile.residence_location.y x=wprofile.residence_location.x id='map' put_marker=True%}
{% else %}
-
{% endif %}
</p>
<h6>How to contact:</h6>
<p>
{% if wprofile.how_to_contact %}
{% if request.user.is_anonymous %}
<a class="my-2 btn btn-primary" href="{% url 'account_login' %}?next={{request.get_full_path}}">Log in to see</a>
{% else %}
{{ wprofile.how_to_contact }}
{% endif %}
{% else %}
-
{% endif %}
</p>